<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <aspNetCore arguments=".\bin\Release\net6.0\WanaD.Client.dll" xdt:Transform="SetAttributes"/>
  </system.webServer>
</configuration>