<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore_Client" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout"
      hostingModel="inprocess"/>
  </system.webServer>
</configuration>