<?xml version="1.0" encoding="utf-8" ?>
<validation xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
	 <!-- Core Module -->
  <type name="Fs.Erp.Core.AppServiceContract.UserUpdateRequest"
            defaultRuleset="default" assemblyName="Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"  xdt:Transform="Insert">
    <ruleset name="default">
      <properties>
        <property name="Code">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="50" lowerBound="1" lowerBoundType="Inclusive"
              messageTemplateResourceName="MSG001" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
        <property name="Login">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="50" lowerBound="1" lowerBoundType="Inclusive"
              messageTemplateResourceName="MSG004" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
        <!--<property name="Password">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="50" lowerBound="1" lowerBoundType="Inclusive"
              messageTemplateResourceName="MSG005" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>-->
        <property name="Name">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="50" lowerBound="1" lowerBoundType="Inclusive"
              messageTemplateResourceName="MSG002" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
        <property name="Email">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="50" lowerBound="1" lowerBoundType="Inclusive"
              messageTemplateResourceName="MSG006" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="Fs.Erp.Core.AppServiceContract.GroupUpdateRequest"
            defaultRuleset="default" assemblyName="Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"  xdt:Transform="Insert">
    <ruleset name="default">
      <properties>
        <property name="Code">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="50" lowerBound="1" lowerBoundType="Inclusive"
              messageTemplateResourceName="MSG001" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
        <property name="Name">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="50" lowerBound="1" lowerBoundType="Inclusive"
              messageTemplateResourceName="MSG002" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
      </properties>
    </ruleset>
  </type>

  <type name="Fs.Erp.Core.AppServiceContract.ChangePasswordUpdateRequest"
            defaultRuleset="default" assemblyName="Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"  xdt:Transform="Insert">
    <ruleset name="default">
      <properties>
        <property name="OldPassword">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="0" lowerBound="1" lowerBoundType="Inclusive" upperBoundType="Ignore"
              messageTemplateResourceName="ChangePassword_001" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
        <property name="NewPassword">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="0" lowerBound="1" lowerBoundType="Inclusive" upperBoundType="Ignore"
              messageTemplateResourceName="ChangePassword_002" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
        <property name="ConfirmPassword">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              upperBound="0" lowerBound="1" lowerBoundType="Inclusive" upperBoundType="Ignore"
              messageTemplateResourceName="ChangePassword_003" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="String Length Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="Fs.Erp.Core.AppServiceContract.ACLUpdateRequest"
              defaultRuleset="default" assemblyName="Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"  xdt:Transform="Insert">
    <ruleset name="default">
      <properties>
        <property name="OperationUID">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              messageTemplateResourceName="MSG015" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>

  <type name="Fs.Erp.Core.AppServiceContract.OperationUpdateRequest"
              defaultRuleset="default" assemblyName="Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"  xdt:Transform="Insert">
    <ruleset name="default">
      <properties>
        <property name="Code">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
              messageTemplateResourceName="MSG_ROLEOPERATION_002" messageTemplateResourceType="Fs.Erp.Core.AppServiceContract.Resources.Messages, Fs.Erp.Core.AppServiceContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
</validation>